body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8; }
  body .navbar-inverse {
    background-color: #315e96;
    border-color: #1e3a5c; }
    body .navbar-inverse .navbar-nav .open a {
      background-color: transparent; }
      body .navbar-inverse .navbar-nav .open a:hover, body .navbar-inverse .navbar-nav .open a:focus {
        color: #fff;
        background-color: #315e96; }
  body label {
    font-weight: normal; }
  body a:hover {
    color: #000; }

#page {
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") repeat center; }

#header {
  margin-bottom: 0;
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.75);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.75); }
  #header div.container-fluid {
    padding: 0 25px; }
  #header #menus {
    max-height: 400px; }
  #header .navbar-brand {
    padding: 10px 5px;
    margin-right: 20px; }
  #header .nav.navbar-nav.navbar-right .user {
    padding: 15px 5px 0 15px;
    color: #fff; }
    #header .nav.navbar-nav.navbar-right .user:hover, #header .nav.navbar-nav.navbar-right .user:focus {
      color: #000; }
  #header .fa-active {
    color: #b5c6d9; }
    #header .fa-active:hover, #header .fa-active:focus {
      color: #000;
      background-color: transparent; }

#content {
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; }
  #content .main td .fa {
    color: #b5c6d9; }
  #content .main td .fa-color {
    color: #ffd109; }
  #content .fa {
    color: #315e96; }
    #content .fa:hover, #content .fa:focus {
      color: #000;
      background-color: transparent; }
  #content .active {
    color: #afc1d6; }
  #content .container {
    top: 20px;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    width: 90%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  #content .actionbar .section-left .fa {
    padding: 2px 0; }
  #content .actionbar .pageination .fa {
    padding: 3px 0 3px 7px; }
  #content .actionbar .fa {
    color: #fff;
    padding: 3px 12px 3px 13px; }
    #content .actionbar .fa:hover, #content .actionbar .fa:focus {
      color: #000;
      background-color: transparent; }
  #content .sidebar + .main {
    left: 22.5%; }

.actionbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #315e96; }
  .actionbar .section-left {
    position: absolute;
    width: 20%;
    height: 100%;
    color: #fff; }
    .actionbar .section-left a {
      display: block;
      margin: 0;
      padding: 0 20px;
      font-size: 15px;
      font-weight: inherit;
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdccdd), color-stop(100%, #9fb4ce));
      background-image: -moz-linear-gradient(#bdccdd, #9fb4ce);
      background-image: -webkit-linear-gradient(#bdccdd, #9fb4ce);
      background-image: linear-gradient(#bdccdd, #9fb4ce); }
  .actionbar .section-right {
    position: absolute;
    left: 20%;
    right: 0;
    height: 100%;
    background-color: #315e96;
    list-style: none;
    padding: 0 10px; }
    .actionbar .section-right .btn-primary {
      width: 75px;
      padding: 2px 0;
      border-radius: 0;
      margin-left: 7px; }
    .actionbar .section-right li {
      padding-right: 0;
      padding-left: 0; }
    .actionbar .section-right div[type="button"] {
      width: 50px; }
    .actionbar .section-right #back {
      width: 75px; }
    .actionbar .section-right #cancel {
      width: 100px; }
    .actionbar .section-right .display-none {
      display: none; }
  .actionbar .pageination {
    color: #fff; }
    .actionbar .pageination a {
      margin-right: 10px; }
  .actionbar .dropdown-menu {
    top: 95%;
    left: 6px;
    min-width: 100px;
    margin: -8px 0 0;
    padding: 0;
    border-radius: 0;
    text-align: left; }
    .actionbar .dropdown-menu li {
      width: 100px;
      height: 32px;
      border: 1px solid #6688b1;
      background-color: #315e96;
      color: #fff;
      padding: 0 10px;
      line-height: 31px; }
      .actionbar .dropdown-menu li label {
        min-width: 100%; }
      .actionbar .dropdown-menu li:hover {
        background-color: #abbed4;
        color: #315e96;
        margin: 0; }
    .actionbar .dropdown-menu input {
      display: none;
      position: absolute; }
    .actionbar .dropdown-menu .divider {
      height: 1px;
      margin: 0;
      display: block;
      overflow: hidden;
      background-color: #315e96; }

.sidebar {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 20%;
  -webkit-box-shadow: 21px 0 40px -38px #a99ea8;
  -moz-box-shadow: 21px 0 40px -38px #a99ea8;
  box-shadow: 21px 0 40px -38px #a99ea8; }
  .sidebar .search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 20px 10% 0 10%;
    margin-bottom: 10px; }
    .sidebar .search input {
      width: 100%;
      font-size: 14px;
      padding-right: 23px; }
  .sidebar .search-google {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 31%;
    right: 13%;
    width: 1em;
    z-index: 120;
    padding: 0; }
  .sidebar .subbar {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 50px;
    height: auto;
    padding: 0 10%;
    overflow: hidden; }
    .sidebar .subbar a {
      display: block;
      text-decoration: none; }
  .sidebar ul {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 2px solid #e0e7ef; }
    .sidebar ul li {
      margin-bottom: 8px; }
    .sidebar ul li:last-child {
      margin-bottom: 20px; }
    .sidebar ul .badge {
      float: right;
      padding: 2px 4px;
      margin: 2px 2px 0 0;
      font-size: 11px;
      font-weight: normal;
      background-color: #afc1d6;
      border-radius: 50%; }
    .sidebar ul .button-filter {
      width: 83%;
      padding-left: 7px;
      border: 0;
      background-color: transparent;
      text-align: left;
      color: #315e96;
      outline: none; }
      .sidebar ul .button-filter .fa {
        margin-right: 5px;
        margin-top: 3px; }
  .sidebar .scale {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 0 10%; }
    .sidebar .scale .meter {
      height: 4px;
      background-color: #315e96;
      margin-top: 10px;
      overflow: hidden; }
      .sidebar .scale .meter div {
        height: 100%;
        background-color: #abbed4; }

.main {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0; }

#table {
  /*table */
  max-width: 97%;
  margin-top: 20px;
  border-top: 2px solid #ddd; }
  #table th {
    height: 10px;
    padding: 4px 4px; }
  #table tbody #letterOpen {
    width: 85%;
    list-style: none;
    padding-left: 0; }
    #table tbody #letterOpen:hover {
      background-color: transparent; }
    #table tbody #letterOpen .td-topic {
      font-size: 26px; }
    #table tbody #letterOpen .td-from {
      font-size: 15px; }
    #table tbody #letterOpen .td-content {
      font-size: 16px; }
    #table tbody #letterOpen td[data-title="star"],
    #table tbody #letterOpen td[data-title="important"] {
      width: 25px; }
    #table tbody #letterOpen td[data-title="replay"],
    #table tbody #letterOpen td[data-title="replay-all"],
    #table tbody #letterOpen td[data-title="forward"] {
      width: 30px; }
    #table tbody #letterOpen .space {
      width: 85%; }
  #table tbody #letterNew {
    width: 100%; }
    #table tbody #letterNew #file {
      display: none; }
  #table tbody .letter-checked {
    background-color: #d5e4f5; }
  #table tbody tr:hover td[data-title="runner"] {
    visibility: visible; }
  #table tbody tr .visibility-hidden {
    visibility: hidden; }
  #table tbody tr td {
    padding: 4px 4px;
    height: 29px; }
    #table tbody tr td input[type="checkbox"] {
      margin: 0; }
  #table tbody tr td[data-title="runner"] {
    width: 5px; }
  #table tbody tr td[data-title="select"] {
    width: 10px; }
  #table tbody tr td[data-title="star"],
  #table tbody tr td[data-title="important"] {
    width: 15px; }
  #table tbody tr td[data-title="name"] {
    width: 20%; }
  #table tbody tr td[data-title="name"],
  #table tbody tr td[data-title="message"],
  #table tbody tr td[data-title="data"] {
    position: relative; }
    #table tbody tr td[data-title="name"] div,
    #table tbody tr td[data-title="message"] div,
    #table tbody tr td[data-title="data"] div {
      position: absolute;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 5px;
      cursor: default; }
  #table tbody tr td[data-title="file"] {
    width: 15px; }
  #table tbody tr td[data-title="data"] {
    width: 100px;
    text-align: right; }
  #table tbody tr .read {
    font-weight: normal; }
  #table tbody tr .unread {
    font-weight: bold; }
  #table tbody .header-rows {
    margin: 5px 0 10px 0;
    width: 100%; }
    #table tbody .header-rows .header-row {
      margin-bottom: 5px;
      width: 100%; }
      #table tbody .header-rows .header-row label {
        width: 70px;
        height: 30px;
        margin-right: 10px;
        padding-left: 10px;
        text-align: left;
        display: inline-block;
        background-color: #fff;
        border: 2px solid #315e96;
        color: #315e96;
        line-height: 26px; }
      #table tbody .header-rows .header-row input {
        width: 60%;
        height: 30px;
        padding: 0 10px;
        margin-right: 5px;
        vertical-align: middle;
        border: 2px solid #afc1d6; }
      #table tbody .header-rows .header-row .button-add-file {
        margin-left: 80px;
        margin-right: 15px; }
      #table tbody .header-rows .header-row .button-cc {
        margin-left: 3px;
        color: #fff;
        background-color: #afc1d6;
        border: 0; }
      #table tbody .header-rows .header-row .attachment-box {
        min-height: 15px;
        max-width: 800px;
        margin-left: 80px; }

.fa {
  color: #fff; }
  .fa:hover, .fa:focus {
    color: #000;
    background-color: transparent; }
  .fa span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.divider {
  height: 1px;
  margin: 0;
  display: block;
  overflow: hidden;
  background-color: #315e96; }

#footer {
  /* footer */
  color: #fff;
  bottom: 0;
  max-height: 70px;
  -webkit-box-shadow: 0 -10px 6px -6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 -10px 6px -6px rgba(50, 50, 50, 0.75);
  box-shadow: 0 -10px 6px -6px rgba(50, 50, 50, 0.75); }
  #footer .row {
    background-color: #315e96;
    padding-top: 4px; }
    #footer .row div:first-child {
      margin: 5px 0; }
  #footer .list-inline {
    margin: 20px 0; }
  #footer a {
    color: #fff;
    text-decoration: none;
    background-color: transparent; }
    #footer a:hover, #footer a:focus {
      color: #000; }

@media screen and (max-width: 767px) {
  #header #menus {
    max-height: 320px; }
  #header .icon {
    padding-top: 15px; }
  #header .list-inline li {
    padding-right: 1.64%;
    padding-left: 1.64%;
    margin: 0; }
  #header .navbar-brand {
    margin-right: 7.4%; }

  .navbar-brand,
  .navbar-toggle {
    margin-right: 5px; }

  .navbar-nav {
    margin: 0 0 0 -15px; }
    .navbar-nav li > a {
      padding-top: 5px;
      padding-bottom: 5px; }
    .navbar-nav .user {
      padding-top: 10px; }

  #content {
    top: 40px;
    bottom: 0; }
    #content .container {
      width: 100%;
      height: 95%; }

  #footer {
    visibility: hidden; } }

/*# sourceMappingURL=styles.css.map */
