$body-bg: #f8f8f8;
$color: #315e96;
$color2: #afc1d6;

@mixin divider {
  height: 1px;
  margin: 0;
  display: block;
  overflow: hidden;
  background-color: $color; //#e5e5e5;
}
@mixin  td-div {
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
  cursor: default;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $body-bg;
  .navbar-inverse {
    background-color: $color; //#222;
    border-color: darken($color, 15%); //#080808
    .navbar-nav {
      .open a {
        background-color: transparent;
        &:hover,
        &:focus {
          color: #fff;
          background-color: $color; //#080808
        }
      }
    }
  }
  label{
    font-weight: normal;
  }
  a:hover {
     color: #000;
  }
}
  #page {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") repeat center;
  }
  #header {
    margin-bottom: 0;
    -webkit-box-shadow: 0 10px 6px -6px rgba(50,50,50,0.75);
    -moz-box-shadow: 0 10px 6px -6px rgba(50,50,50,0.75);
    box-shadow: 0 10px 6px -6px rgba(50,50,50,0.75);
    div.container-fluid {
      padding: 0 25px;
    }
    #menus {
      max-height: 400px;
    }
    .navbar-brand {
      padding: 10px 5px;
      margin-right: 20px;
    }
    .nav.navbar-nav.navbar-right {
      .user {
        padding: 15px 5px 0 15px;
        color: #fff;
        &:hover,
        &:focus {
          color: #000;
        }
      }
    }
    .fa-active {
      color: #b5c6d9;
      &:hover,
      &:focus {
        color: #000;
        background-color: transparent;
      }
    }
  }

  #content {
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    .main {
      td {
        .fa {
          color: #b5c6d9;
        }
        .fa-color {
          color: #ffd109;
        }
      }
    }
    .fa {
      color: $color;
      &:hover,
      &:focus {
        color: #000;
        background-color: transparent;
      }
    }
    .active {
      color: $color2;
    }
    .container {
      top: 20px;
      bottom: 80px;
      left: 0;
      right: 0;
      overflow: hidden;
      background-color: #fff;
      width: 90%;
      height: auto;
      padding: 0;
      margin: 0 auto;
      position: absolute;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .actionbar {
      .section-left {
        .fa {
          padding: 2px 0;
        }
      }
      .pageination {
        .fa {
          padding: 3px 0 3px 7px;
        }
      }
      .fa {
        color: #fff;
        padding: 3px 12px 3px 13px;
        &:hover,
        &:focus {
          color: #000;
          background-color: transparent;
        }
      }
    }
    .sidebar+.main {
      left: 22.5%;
    }
  }
  .actionbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: $color;
    .section-left {
      position: absolute;
      width: 20%;
      height: 100%;
      color: #fff;
      a {
        display: block;
        margin: 0;
        padding: 0 20px;
        font-size: 15px;
        font-weight: inherit;
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdccdd), color-stop(100%, #9fb4ce));
        background-image: -moz-linear-gradient(#bdccdd, #9fb4ce);
        background-image: -webkit-linear-gradient(#bdccdd, #9fb4ce);
        background-image: linear-gradient(#bdccdd, #9fb4ce);
      }
    }
    .section-right {
      position: absolute;
      left: 20%;
      right: 0;
      height: 100%;
      background-color: $color;
      list-style: none;
      padding: 0 10px;
      .btn-primary {
        width: 75px;
        padding: 2px 0;
        border-radius: 0;
        margin-left: 7px;
      }
      li {
        padding-right: 0;
        padding-left: 0;
      }
      div[type="button"] {
        width: 50px;
      }
      #back {
        width: 75px;
      }
      #cancel {
        width: 100px;
      }
      .display-none {
        display: none;
      }
    }
    .pageination {
      color: #fff;
      a {
        margin-right: 10px;
      }
    }
    .dropdown-menu {
      top: 95%;
      left: 6px;
      min-width: 100px;
      margin: -8px 0 0;
      padding: 0;
      border-radius: 0;
      text-align: left;
      li {
        width: 100px;
        height: 32px;
        border: 1px solid #6688b1;
        background-color: $color;
        color: #fff;
        padding: 0 10px;
        line-height: 31px;
        label {
          min-width: 100%;
        }
        &:hover {
          background-color: #abbed4;
          color: $color;
          margin: 0;
        }
      }
      input {
        display: none;
        position: absolute;
      }
      .divider {
        @include divider;
      }
    }
  }

  .sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 20%;
    -webkit-box-shadow: 21px 0 40px -38px #a99ea8;
    -moz-box-shadow: 21px 0 40px -38px #a99ea8;
    box-shadow: 21px 0 40px -38px #a99ea8;

    .search {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      padding: 20px 10% 0 10%;
      margin-bottom: 10px;
      input {
        width: 100%;
        font-size: 14px;
        padding-right: 23px;
      }
    }
    .search-google {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 31%;
      right: 13%;
      width: 1em;
      z-index: 120;
      padding: 0;
    }
    .subbar {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 50px;
      height: auto;
      padding: 0 10%;
      overflow: hidden;
      a {
        display: block;
        text-decoration: none;
      }
    }
    ul {
      list-style: none;
      margin-bottom: 20px;
      padding: 0;
      border-bottom: 2px solid #e0e7ef;
      li {
        margin-bottom: 8px;
      }
      li:last-child {
        margin-bottom: 20px;
      }
      .badge {
        float: right;
        padding: 2px 4px;
        margin: 2px 2px 0 0;
        font-size: 11px;
        font-weight: normal;
        background-color: $color2;
        border-radius: 50%;
      }
      .button-filter {
        width: 83%;
        padding-left: 7px;
        border: 0;
        background-color: transparent;
        text-align: left;
        color: $color;
        outline : none;
        .fa {
          margin-right: 5px;
          margin-top: 3px;
        }
      }
    }
    .scale {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      padding: 0 10%;
      .meter {
        height: 4px;
        background-color: $color;
        margin-top: 10px;
        overflow: hidden;
        div {
          height: 100%;
          background-color: #abbed4;
        }
      }
    }
  }

  .main {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #table { /*table */
    max-width: 97%;
    margin-top: 20px;
    border-top: 2px solid #ddd;
    th {
      height: 10px;
      padding: 4px 4px;
    }
    tbody {
      #letterOpen {
        width: 85%;
        list-style: none;
        padding-left: 0;
        &:hover {
          background-color: transparent;
        }
        .td-topic {
          font-size: 26px;
        }
        .td-from {
          font-size: 15px;
        }
        .td-content {
          font-size: 16px;
        }
        td[data-title="star"],
        td[data-title="important"] {
          width: 25px;
        }
        td[data-title="replay"],
        td[data-title="replay-all"],
        td[data-title="forward"] {
          width: 30px;
        }
        .space {
          width: 85%;
        }
      }

      #letterNew {
        width: 100%;
        #file {
          display: none;
        }
      }
      .letter-checked {
        background-color: rgb(213, 228, 245);
      }
      tr {
        &:hover {
          td[data-title="runner"] {
            visibility: visible;
          }
        }
        .visibility-hidden {
          visibility: hidden;
        }
        td {
          padding: 4px 4px;
          height: 29px;
          input[type="checkbox"] {
            margin: 0;
          }
        }
        td[data-title="runner"] {
          width: 5px;
        }
        td[data-title="select"] {
          width: 10px;
        }
        td[data-title="star"],
        td[data-title="important"] {
          width: 15px;
        }
        td[data-title="name"] {
          width: 20%;
        }
        td[data-title="name"],
        td[data-title="message"],
        td[data-title="data"] {
          position: relative;
          div {
            @include td-div;
          }
        }
        td[data-title="file"] {
          width: 15px;
          .fa {
           // visibility: hidden;
          }
        }
        td[data-title="data"] {
          width: 100px;
          text-align: right;
        }
        .read {
          font-weight: normal;
        }
        .unread {
          font-weight: bold;
        }
      }
      .header-rows {
        margin: 5px 0 10px 0;
        width: 100%;

        .header-row {
          margin-bottom: 5px;
          width: 100%;
          label {
            width: 70px;
            height: 30px;
            margin-right: 10px;
            padding-left: 10px;
            text-align: left;
            display: inline-block;
            background-color: #fff;
            border: 2px solid $color;
            color: $color;
            line-height: 26px;
          }
          input {
            width: 60%;
            height: 30px;
            padding: 0 10px;
            margin-right: 5px;
            vertical-align: middle;
            border: 2px solid $color2;
          }
          .button-add-file {
            margin-left: 80px;
            margin-right: 15px;
          }
          .button-cc {
            margin-left: 3px;
            color: #fff;
            background-color: $color2;
            border: 0;
          }
          .attachment-box {
            min-height: 15px;
            max-width: 800px;
            margin-left: 80px;
          }
        }
      }
    }
  }

  .fa {
    color: #fff;
    &:hover,
    &:focus {
      color: #000;
      background-color: transparent;
    }
    span {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  .divider {
    @include divider;
  }

  #footer { /* footer */
    color: #fff;
    bottom: 0;
    max-height: 70px;
    -webkit-box-shadow: 0 -10px 6px -6px rgba(50,50,50,0.75);
    -moz-box-shadow: 0 -10px 6px -6px rgba(50,50,50,0.75);
    box-shadow: 0 -10px 6px -6px rgba(50,50,50,0.75);

    .row {
      background-color: $color; //#222;
      padding-top: 4px;
      div:first-child {
        margin: 5px 0;
      }
    }
    .list-inline {
      margin: 20px 0;
    }
    a {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      &:hover,
      &:focus {
        color: #000;
      }
    }
  }
  @media screen and (max-width: 767px) {
    #header {
      #menus {
        max-height: 320px;
      }
      .icon {
        padding-top: 15px;
      }
      .list-inline li {
        padding-right: 1.64%;
        padding-left: 1.64%;
        margin: 0;
      }
      .navbar-brand {
        margin-right: 7.4%;
      }
    }
    .navbar-brand,
    .navbar-toggle {
      margin-right: 5px;
    }
    .navbar-nav {
      margin: 0 0 0 -15px;
      li > a {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .user {
        padding-top: 10px;
      }
    }
    #content {
      top: 40px;
      bottom: 0;
      .container {
        width: 100%;
        height: 95%;
      }
    }
    #footer {
      visibility: hidden;
    }
  }
